/*
* @Author: kelly007
* @Date:   2016-11-08 16:55:02
* @Last Modified by:   kelly
* @Last Modified time: 2017-08-21 21:35:11
*/

@-webkit-keyframes bounce {
    from,
    to {
        -webkit-transform: translateY(17vh) scaleY(.98);
        transform: translateY(17vh) scaleY(.98);
    }
    80% {
        -webkit-transform: translateY(10vh) scaleY(1.02);
        transform: translateY(10vh) scaleY(1.02);
    }
}

@keyframes bounce {
    from,
    to {
        -webkit-transform: translateY(17vh) scaleY(.98);
        transform: translateY(17vh) scaleY(.98);
    }
    80% {
        -webkit-transform: translateY(10vh) scaleY(1.02);
        transform: translateY(10vh) scaleY(1.02);
    }
}

.ball {
	position: absolute;
	top: -3vw;
	left: 60%;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    line-height: 4vw;
    max-width: 50px;
    max-height: 50px;
    background-image: -webkit-radial-gradient(25% 25%, ellipse farthest-corner, #3178CF, #000);
    background-image: radial-gradient(ellipse farthest-corner at 25% 25%, #3178CF, #000);
    margin: 0 auto;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation: bounce 1.0s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    animation: bounce 1.0s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
    text-align: center;
    color: #7ED53D;
    /*animation: App-logo-spin infinite 2s linear;*/
}

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

